.scorebox {
  background-color: white;
  color: hsl(229, 64%, 46%);
  padding: 20px 35px;
  border-radius: 0.4rem;
  text-transform: uppercase;

  &__score {
    color: hsl(217, 16%, 45%);
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 550px) {
  .scorebox {
    padding: 10px 15px;
    font-size: 0.8rem;

    &__score {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}
